<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- custom css  -->
    <link rel="stylesheet" href="/css/indexStyle.css">

</head>

<body>
    <%- include('../partials/navBar.ejs'); -%>

        <div class="col-sm-4 mt-5 col-md-6 mx-auto py-2">

            <form method="POST" action="/contact">
                <h4>Contact Form</h4>

                <% if(typeof err !='undefined' ){ %>
                    <div class="alert alert-dismissible alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <strong>
                            <%= err %>
                        </strong>
                    </div>
                    <% } %>
                        <% if(success_message !='' ){ %>
                            <div class="alert alert-dismissible alert-info">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                <strong>
                                    <%= success_message %>
                                </strong>
                            </div>
                            <% } %>
                                <div class="form-group">
                                    <label class="form-label" for="nameForm">Name</label>
                                    <input type="text" class="form-control" id="nameForm" name="nameForm"
                                        placeholder="Name" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="emailForm">Email address</label>
                                    <input type="email" class="form-control" autocomplete="off" id="emailForm"
                                        name="emailForm" placeholder="Enter email">
                                    <small id="emailForm" class="form-text text-muted">We'll never share your email with
                                        anyone
                                        else.</small>
                                </div>
                                <div class="form-group">
                                    <label class="form-label" for="messageForm">Message</label>
                                    <textarea class="form-control" name="messageForm" id="messageForm" rows="3"
                                        autocomplete="off"></textarea>
                                </div>

                                <div class="form-group"> <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
            </form>
        </div>

        <!-- footer  -->
        <%- include('../partials/footer.ejs'); -%>


            <!-- bootstrap close js and css  -->

            <%- include('../partials/booStrap_script.ejs'); -%>
</body>

</html>